
.test {
  height: 128px;
  overflow: hidden;
}
.test img {
    width: 100%;
  }

.profile_info {}

.profile_ava_cont {
  width: 220px;
}


.profile_ava_cont img {
  width: 100%;
}
.content{
  color: bisque;
}

  .item {
    color:green;
  }

