.mo__nav {
    grid-area: n;
    background-color: aquamarine;
    padding: 10px;
    padding-left: 0;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 5px;
    margin: 5px;

}

.item a {
    display: inline-block;
    width: 100%;
    padding: 5px;
    padding-left: 15px;
    color: #077;
    border: 2px solid #077;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bolder;
    transition: border 0.3s ease;
}

.item a:focus {
    border: 2px solid gold;
}

.item a:hover {
    border: 2px solid gold;
}

a.active {
    color: gold;
    border: 2px solid gold;
}