.mo__nav {
    grid-area: n;
    background-color: aquamarine;
    padding: 10px;
    padding-left: 0;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 5px;
    margin: 5px;

}

.item a {
    display: inline-block;
    width: 100%;
    padding: 5px;
    padding-left: 15px;
    color: #077;
    border: 2px solid #077;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bolder;
    transition: border 0.3s ease;
}

.item a:focus {
    border: 2px solid gold;
}

.item a:hover {
    border: 2px solid gold;
}

a.active {
    color: gold;
    border: 2px solid gold;
}

.friends_wrapper {
    padding: 20px;
}

.friends_wrapper li a {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #077;
    text-decoration: none;
    transition: all 0.3s ease;
}

.friends_wrapper li a:hover {
    color:gold;
}
.friends_wrapper li a:hover::before {
    background-color: #077;
}
.friends_wrapper li a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    display: block;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: gold;
    transition: all 0.3s ease;
}
